body {
    background-color: lightblue;
}

h1 {
    color: #7f7fb8;
    margin-left: 20px;
    font-family: Georgia;
    text-align: center;
}

h2 {
    color: #7f7fb8;
    margin-left: 20px;
    font-family: Georgia;
    text-align: left;
}

/* header bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(86, 119, 168);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}