/* My standard colors:
    Lightest/Text: #EDFCDC
    Darkest Green: #799E4F
    Middle Green: #BFEB8D
    Dark purple: #903F9E
    Light purple: #DD8DEB

*/

body {
    background-color: #BFEB8D;
}

h1 {
    color: #799E4F;
    margin-left: 20px;
    font-family: Georgia;
    text-align: center;
}

h2 {
    color: #799E4F;
    margin-left: 20px;
    font-family: Georgia;
    text-align: left;
}

/* header bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #903F9E;
}

li {
    float: left;
}

li a {
    display: block;
    color: #EDFCDC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #DD8DEB;
}

.active {
    background-color: #799E4F;
}

link {
    color: white;
}