
/* My color palette*/
#test-color {
    color-scheme:
        #372F18 #ECC5A8 #C9341C #A16B23 #771B0C wheat
}

/* General selector formatting*/
body {
    background-color: #ECC5A8;
    font-family: Georgia;
}

h1 {
    color: #771B0C;
    margin-left: 20px;
    font-family: Georgia;
    text-align: center;
}

h2 {
    color: #771B0C;
    margin-left: 20px;
    font-family: Georgia;
    text-align: left;
}

h3 {
    color: #771B0C;
    margin-left: 45px;
    font-family: Georgia;
    text-align: left;
}

p {
    color: #372F18;
    font-family: Georgia;
    text-align: left;
    margin-left: 100px;
    max-width: 850px;
    line-height: 25px;
}

/* header bar */
#navbar {
    margin-left: 50px;
    background-color: #C9341C;
    font-family: Georgia;
    padding: 15px;
    font-size: 24px;
    max-width: 1780px;
    min-width: fit-content;
}

#navbar a {
    color: #372F18;
    text-decoration: none;
    padding-right: 30px;
}

#navbar a:hover {
    color: wheat;
}


/* contact bar */
#contact-bar {
    margin-left: 50px;
    font-family: Georgia;
    font-size: 18px;
}

#contact-bar a {
    color: #372F18;
    text-decoration: none;
    padding-right: 15px;
}

#contact-bar a:hover {
    color: wheat;
}

/*About page list*/
#fav-list ul {
    list-style-type: square;
    font-family: Georgia;
    font-size: 18px;
    line-height: 30px;
    margin-left: 80px;
}

/*Experience page list*/
#list-ex ul {
    list-style-type: none;
    font-family: Georgia;
    font-size: 18px;
    line-height: 30px;
}

#list-ex a {
    color: #372F18;
    text-decoration: none;
}

#list-ex a:hover {
    color: wheat;
}